XML/pantry_test/pantry.dtd

<!ELEMENT despensa (alimento+)>

<!ELEMENT alimento (nombre, classificacion, plato, ingrdientes)>
<!ATTLIST alimento
            id ID #REQUIRED>

<!ELEMENT nombre (#PCDATA)>

<!ELEMENT classificacion (#PCDATA)>

<!ELEMENT plato (#PCDATA)>

<!ELEMENT ingrdientes (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>